.flashcards {
  background-color: azure;
  color: darkblue;
  margin: auto;
  margin-top: 25px;
  width: 80%;
  height: 600px;
  font-size: 20px;
  font-family: "Enriqueta";
  text-align: center;
}

.flashcards ul {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  background-color: darkblue;
  color: azure;
  border-radius: 5px;
  font-style: italic;
  font-size: 20px;
  height: 28px;
  transition-duration: 0.4s;
  text-align: center;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  width: 250px;
  height: 40px;
}

button:hover,
.showFlashcards button:hover {
  background-color: azure;
  font-style: italic;
  font-family: "Enriqueta";
  list-style-type: none;
  color: yellowgreen;
  font-size: 25px;
  font-weight: bold;
  padding-top: 0;
  width: 260px;
  height: 50px;
  border-color: azure;
}

#list {
  background-color: whitesmoke;
  color: darkblue;
  margin: 3px;
  height: 80%;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

.showFlashcards {
  background-color: azure;
  color: orangered;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 600px;
  font-size: 20px;
  font-family: "Enriqueta";
  text-align: center;
  font-style: italic;
}

.showFlashcards h2 {
  box-sizing: border-box;
  padding-top: 15px;
}

.showFlashcards button {
  background-color: darkblue;
  color: azure;
  border-radius: 5px;
  font-style: italic;
  font-size: 20px;
  height: 28px;
  transition-duration: 0.4s;
  text-align: center;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  height: 40px;
}
