.home {
  background-color: azure;
  color: darkblue;
  margin: auto;
  margin-top: 25px;
  width: 80%;
  height: 600px;
}

.home_img {
  margin-top: 70px;
  background-image: url("../img/home.png");
  background-repeat: no-repeat;
  width: 500px;
  height: 297px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#homeText {
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Enriqueta";
  text-align: justify;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
